/* src/styles/Contact.module.css */
.contact {
    padding: 4rem 2rem;
    background-color: white;  /* Plain white background */
    font-family: 'Poppins', sans-serif;
    color: black;  /* Black font color */
    text-align: center;
    border-radius: 8px;
    box-shadow: none; /* Removed shadow */
  }
  
  .contact h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: black; /* Black color for heading */
  }
  
  .contactContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .description {
    flex: 1;
    margin-right: 2rem;
    max-width: 45%;
    text-align: left;
  }
  
  .description p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .contactLinks {
    flex: 1;
    max-width: 45%;
    text-align: left;
  }
  
  .linkedinIcon {
    width: 60px;
    height: 60px;
    margin: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .linkedinIcon:hover {
    transform: scale(1.2);
  }
  
  .emailLink {
    display: inline-block;
    margin-top: 1.5rem;
    text-decoration: none;
    color: black; /* Black color for email link */
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: 2px solid black; /* Black border */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .emailLink:hover {
    background-color: black;
    color: white;
  }
  