.hero {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: rgb(181, 174, 174);
    padding: 4rem;
    margin-top: 100px;
    position: relative;  /* Needed for the blob container to position inside it */
    overflow: hidden;

   
  } 

  .image img {
    width: 700px;
    height: 500px;
    margin-left: -15px;
    margin-top: 30px;
    mix-blend-mode: lighten;
    opacity: 0.60;
  }
  
  .about {
    max-width: 600px;
  }
