.hero {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: rgb(181, 174, 174);
    padding: 4rem;
    margin-top: 100px;
    position: relative;  /* Needed for the blob container to position inside it */
    overflow: hidden;

   
  } 

  .image img {
    width: 700px;
    height: 500px;
    margin-left: -15px;
    margin-top: 30px;
    mix-blend-mode: lighten;
    opacity: 0.60;
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%); 
   
  }

  .about {
    max-width: 600px;
  }

  @media screen and (max-width: 768px) {
    .image img {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }