.hero {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: rgb(181, 174, 174);
    padding: 4rem;
    margin-top: 100px;
    position: relative;  /* Needed for the blob container to position inside it */
    overflow: hidden;

   
  } 

  .image img {
    width: 400px;
    height: 400px;
    border-radius: 500%;
    margin-left: 80px;
    margin-top: 30px;
  }
  
  .about {
    max-width: 600px;
  }
