.school {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  padding: 4rem;
  color: #111827;
}

.video iframe {
  width: 200%;
  height: 480px;
  border-radius: 20px; 
}

.description  {
  max-width: 600px;
  background-color: rgba(165, 220, 255, 0.8); 
  border-radius: 1rem; 
  padding: 2rem; 
  
}

.schoolGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

}
